/* ======================================================
   OEFENEN MET FLEXBOX
========================================================= */

/* Schrijf hier  jouw CSS! */

.one{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.two{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/*opdracht 2,3*/
.three{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    background-color: red;
    width: 200px;
}
/*opdracht 2.4*/
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.four{
    width: content-box;
}
form label{
    width: 150px;
}
/*opdracht 2.5*/
.five{
    display: flex;
    flex-direction: row;
}
.article{
    display: inline-block;
}
